*{
    margin: 0;
    padding: 0;
}
body{
    background: #f9f5f0; 
}
.ImageShow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.ImageShow figure{
    padding: 15px;
}
main{
    width: 85%;
    margin: auto;
    text-align: center;
    background: #f2ead3; 
    padding: 10px;
}
img{
    width: 100%;
    border-radius: 30px;
}
h3{
    font-size: 1.5rem;
}
p{
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
figcaption{
    font-weight: bold;
    font-family: cursive;
    font-size: 1.1rem;
    margin: 5px 0;
}
audio{
    margin: 10px 0;
}
h1{
    font-size: 2.5rem;
}
nav{
    float: left;
    padding: inherit;
    margin-top: 10px;
    margin-left: 5px;
}
nav a{
    text-decoration: none;
    color: #321313;
    font-weight: bold;
    padding: 10px;
}
nav a:hover{
    color: #f4991a;
}
@media screen and (max-width: 1023px) {
    main{
        width: 100%;
    }
}